@charset "UTF-8";

.hidden {
    display: none;
}

body{
    display: block;
    background-image: linear-gradient(purple,red,yellow);
}


.box_f {
    background-color: black;
    color: white;
    border-radius: 2px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom:10px;
}

.box_v {
    background-color: black;
    color: white;
    border-radius: 2px;
    padding: 100px 0px 100px 0px;
    text-align: center;
    margin-top: 10px;
    margin-bottom:10px;
}

.box_s {
    display: inline;
    background-color: gray;
    color: white;
    border-radius: 2px;
    width: 10px;
    height: 10px;
    
    text-align: center;
    
}
/** when play, start rotate
#disk{
    animation: rotate 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}
**/
